@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;1,100;1,400;1,700&display=swap');

:root{
    --main-color:#9c7fd3;
    --secondary-color: red; 
}



body{ 
    background-color:  rgb(20,20,20);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300; 
}


header {
    display: flex;
    justify-content: center;
}

header ul {
    display: flex;
    padding: 10px 10px 50px 10px;

}



li {
    list-style: none;
    margin: 5px 10px;
}


h1 {
    font-size: 110px; 
    font-weight: 700;
    margin: 0;
}

#titulo-phd{
    font-size: 50px;
    font-style: italic;
    font-weight: 600;
    display: flex; 
    justify-content: center;
    padding: 1rem;
}

#summary p {
    font-size: 20px;
    display: flex; 
    justify-content: center;
    padding-left: 10rem;
    padding-right: 10rem;
    text-align: justify;

}

h2 {
    margin: 3px;
    font-weight: 450;
    text-align: center;
}


h3 {
    margin:0;
}

.subtitle {
    font-size: 30px;
    font-weight: 600;
    display: flex; 
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

p #link-paper{
    display: flex; 
    justify-content: center;
    padding-left: 8rem;
    padding-right: 8rem;
    font-size: 20px;

}


.redirect { 
    font-size: 20px;
    font-weight: 300;
    display: flex; 
    justify-content: center;
    color: red;
}

.courses-certif{
    font-size: 20px;
}



.hero-section{
    text-align: center;
    margin-top: 17vh;
}

section{
    display:flex;
    flex-direction: column;
    align-items: center;
}


.light-text { 
    font-weight: 100;
}


footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    left: 0;
    width: 100vw; 
}


footer ul {
    display: flex;
    padding: 10px 10px 50px 10px;

 
   
}

.options {
    display:flex; 
    font-size: larger;
}

.options a {
    margin: 20px; 
}





a {
    text-decoration: none;
    color: white; 
    font-size: 20px;
}


.socials {
    width: 100px;
    height: 200px;
    background-color: rgb(144, 133, 209) ;
    border-radius: 30px 0 0 30px;
    position: fixed;
    right: 0;
    top: 40vh;
}


.social {
    width: 100%; /*no del browser sino de su parent, que es .socials*/
    height: 50%;


}


.social svg {
    fill: white;
}


/*typewrite effect*/
.wrapper {
    height: 10vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
  }
  
  .typing-demo {
    width: 46ch; /*LARGO DEL STRING*/
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
  


/*Animation border for links in navbar and menu */

div.container
{
    margin: 0 auto;
	text-align: center;
}

div.container a
{
    color: #FFF;
    text-decoration: none;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

/* Top and Bottom borders go out */
div.topBotomBordersOut a:before, div.topBotomBordersOut a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersOut a:before
{
    top: 0px;
    transform: translateY(10px);
}

div.topBotomBordersOut a:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before, div.topBotomBordersOut a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}


/*----------------------------*/
/*           SKILLS           */
/*----------------------------*/

/*CUBE PROGRAMMING LANGUAGES*/

.hero-image{
    position: relative;
    width: 50%;
    height: 350px; 
    display: block;
    display: block;
 } 

 .cube {
     position: absolute; /*absolute relative to the .hero-image*/
     width: 10vw;
     height: 10vw;
     transform: rotate(-25deg) skew(25deg);
 }

 .cube:before {
     position: absolute;
     content: '';
     width: 21px;
     height: 100%;
     transform: skewY(-45deg);
     left: -20px;
     bottom: -10px;
 }

 .cube:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 21px;
    transform: skewX(-45deg);
    left: -10px;
    bottom: -20px;
 }

 #python {
    left: 800px;
    bottom: 170px;
    background-image: url("imgs/python.jpeg");
    background-size: cover;
    background-color: rgb(175, 119, 227);
    box-shadow: -60px 60px 20px rgb(50 50 50/ 15%);
  }
  
  #python:before {
    background-color: rgb(189, 154, 221);
  }
  
  #python:after {
    background-color: rgb(205, 188, 221);
  }
  
  #r-programming {
    left: 400px;
    bottom: 170px;
    background-image: url("imgs/r.png");
    background-size: cover;
    background-color: rgb(227, 119, 191);
    box-shadow: -100px 100px 20px rgb(50 50 50/ 15%);
  }
  
  #r-programming:before {
    background-color: rgb(221, 154, 207);
  }
  
  #r-programming:after {
    background-color: rgb(221, 188, 211);
  }


/*TECH SKILLS */
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
    justify-content: center;
    background-color: #362c2c;
}

.card {
    background-color: #523a3a;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.title {
    font-size: 22px;
    font-weight: bold;
    color: #fffefe;
    text-align: center;
}


/*----------*/


  
.grid-container-proyecto {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 15px;
    justify-content: center;
    background-color: #2c2424;
    border-radius: 3%;
}

.card {
    background-color: #130d0d;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}


#boton-proyecto:hover {
background-color: lime;
color: black;
}

.photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
}

.link {
    background-color: #3684d8;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.description {
    font-size: 18px;
    text-align: center;
    color: #ffffff;
}

/* Work Pages*/

.work-details{
    width: 50%
}

.work-details td { 
    padding: 30px;
}

.work-details a:hover, 
header ul li a:hover,
.options a:hover {
    color: var(--green)
}


#footer-link:hover{
    color: rgb(3, 111, 199)
}


footer ul a:hover {
    color: var(--secondary-color)
}



#link-paper:hover{
    color: rgb(171, 243, 36)
}



/*---------------------------------------------*/
/*About me */
/*---------------------------------------------*/

.about-me-container {
    display: grid;
    grid-template-columns: repeat(3fr, auto);
    grid-gap: 10px;
    padding: 30px;
    text-align: center;
    font-size: medium;
    display: flex;
    font-size: medium;

  }
  
  .about-me-column {
    background-color: #3d2e2e;
    border: 2px solid #af8e8e;
    padding: 10px;
    text-justify: auto;
  }

  .profile-pic { 
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 40px 10px 10px 10px;
  justify-content: center;
  text-align: center;
  display: flex;
  font-size: medium;
  }


  /*---------------------------------------------*/
/* Contact page*/
/*---------------------------------------------*/
.form-submit {
    width: 50%; 

}

.form-submit form {
    width: 100%;
}

.form-submit .form-row {
    display: flex; 
    justify-content: space-between;
} 

.form-row .form-control {
    width: 50%; 
    font-size: 20px;
    padding: 20px 0;
    font-family: 'Josefin Sans', sans-serif;

}


.form-row .form-control:focus, 
.form-submit textarea:focus {
    outline: 0;
    background-color: yellow;
}

.form-submit textarea {
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    padding: 20px 0;
    resize: none;
    margin-top:  5px;
    font-size: 20px;
}

form button { 
    width: 100%;
    background-color: rgb(29, 197, 29);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px;
    font-size: 20px;

}


.subtitle #email_link {
    width: 20%;
    background-color: rgb(40, 29, 197);
    color: white;
    font-family: 'Josefin Sans', sans-serif;

}

 #email_link a:hover {
    background-color: rgb(208, 255, 0);
    color: black;

}


#summary #unCongreso h4 {
    color: white;
    width: 100%;
    padding-left: 10%;
}

#summary #unCongreso p {
    color: white;
    width: 90%;
    padding-left: 10%;
}

#espaciador {
    border-top: 0px ;
    display: inline-block;
}


.redireccionamiento{
    text-align: center;
}


/*Responsiveness*/

@media only screen and (max-width: 600px) {
    .work-details {
        width: 80%;
    }
    .work-details td {
        padding: 5px;
        }

    .socials {
        display: none;
        }

    .form-submit .form-row{
        display:flex;
        flex-direction: column;
    }    

    .form-row .form-control{
        width: 100%; 
        margin-top: 5px;
    }

}